body {
    font-family: georgia, times, serif;
    background-color: white;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
p {
    margin-bottom: 1.6em;
}

h1 {
    font-size: 2rem;
    line-height: 1.3em;
}

.container {
    width: 85%;
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px;
    width: 90%;
    margin: auto;
}

.img1 {
    display: block;
    width: 100%;
    margin-top: 10.5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;

}

.imagen2 {
    border-radius: 20px;
    width: 600px;
}


.grid1{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.grid2 {

    padding: 110px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.grid2 p{
    padding:10px;
    text-align: center;
}


.header {
    background: rosybrown;
    color: white;
    padding: 1rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.header a {
    color: white;
    text-decoration: none;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    letter-spacing: 15px;
    font-size: 1.2em;
}

.menu-icon {
    display: none;
}

.h1{
    margin-top: 10rem;
    text-align: center;
    height: auto;
    background-color: black;
}
.h1 h1{
    font-size: 50px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

/* .container-galery-grid{
    object-position: center;
    display: grid; */
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
    grid-template-rows: repeat(4, 400px 400px);
    gap: 10px;
    justify-content: center;

    }

.container-galery-grid img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
} */


/* Flexbox galeria */

.container-galery-flex img{
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
}

.container-galery1{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.container-galery-flex{
    flex: 15%;
    padding: 5px;
}

.item:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}
/* Media de galeria */

@media (max-width: 1000px){
    .container-galery-flex{
        flex: 25%;
    }
}

@media (max-width: 800px){
    .container-galery-flex{
        flex: 35%;
    }
}

@media (max-width: 600px){
    .container-galery-flex{
        flex: 100%;
    }
}

/* Fin de media flex galeria  */


/* CSS DE ABOUT US */

.h1about{
    text-align: center;
}

.container-about-us{
    justify-content: center;
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr
}

.image1{
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img16{
    width: 80%;
    border-radius: 10px;
}

@media (max-width: 600px){
    .text-about p{
        font-size: medium;
    }
}



/* FIN DE CSS ABOUT US */

.navigation ul {
    margin: 0%;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;

}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover {
    background: #925c80;

}

.contacto{
    width: 100vw;
    height: 100vh;
    background: black;
    max-width: 1500px;
    margin: 0 auto;
}


.footer {
    
    background: #f2f2f2;
    padding: 2rem 0;
    text-align: center;
    width: auto;

}


@media only screen and (max-width: 832px) {

    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }

    .navigation ul {
        display: none;
    }

    .navigation ul.show {
        display: block;
    }

    .navigation {
        width: 100%;
        margin-top: 1rem;
    }

    .navigation ul li {
        display: block;
    }

    .navigation ul li a {
        display: block;
        padding: 0.5rem 0;
        transition: all 0.4s linear;
        border-radius: 5px;
    }

    .navigation ul li a:hover {
        background: #4a4a4a;

    }

}

@media only screen and (max-width: 600px) {

.container1{
    width: auto;
    height: auto;

}

.img-container  {
    padding: 60px;
    width: auto;
    
}

.img2{
    width: 180%;
    border-radius: 5px;
}

.text-container{
    padding: 30px;
    width: auto;
    font-size: small;

}
}


